{% extends "base.html" %}
{% block content %}
<h1>Predict THIS</h1>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Options
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">I'm the best</a></li>
    <li><a href="#">You suck</a></li>
    <li><a href="#">heads I win tails you lose</a></li>
  </ul>
</div>

<p>{[{ tagline }]} </p>

{% endblock content %}
